:root {
  --team1: AquaMarine;
  --team2: Chartreuse;
  --team3: Crimson;
  --team4: DarkBlue;
  --team5: DarkCyan;
  --team6: DarkGoldenRod;
  --team7: DarkGreen;
  --team8: DarkKhaki;
}

body {font-family: 'Acme'}

h1 {
  font-family: 'Aboreto';
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.team-button {
  border-radius: 10px;
  padding: 0.5rem 3rem;
  font-family: 'Aboreto';
}

.team1 {background-color: var(--team1)}
.team2 {background-color: var(--team2)}
.team3 {
  background-color: var(--team3);
  color: white;
}
.team4 {
  background-color: var(--team4);
  color: white;
}
.team5 {
  background-color: var(--team5);
  color: white;
}
.team6 {
  background-color: var(--team6);
  color: white;
}
.team7 {
  background-color: var(--team7);
  color: white;
}
.team8 {background-color: var(--team8)}

.team1-inv {
  background-color: black;
  color: var(--team1);
}
.team2-inv {
  background-color: black;
  color: var(--team2);
}
.team3-inv {color: var(--team3)}
.team4-inv {color: var(--team4)}
.team5-inv {color: var(--team5)}
.team6-inv {color: var(--team6)}
.team7-inv {color: var(--team7)}
.team8-inv {
  background-color: black;
  color: var(--team8);
}

.asteriskField {display: none}
label {margin-top: 1rem}
.form-control, .select {border: 1pt solid DarkMagenta}

.form-control:focus, .select:focus, .form-select:focus {
  border: 1pt solid DarkMagenta !important;
  box-shadow: none !important;
}

.button-form {
  margin-top: 2rem;
  width: 100%;
  border: 2pt solid DarkMagenta;
  border-radius: 5px;
  padding: 5px;
  color: DarkMagenta;
  background-color: DarkMagenta;
  color: white;
}

#rules {
  margin: 0 3rem;
  padding: 1rem;
  overflow: auto;
  background: radial-gradient(circle, AntiqueWhite 0%, white 100%);

}

.currency {text-decoration-line: line-through}

#participants {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: smaller;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 3px 5px 1px darkgrey;
}

button {
  border: 1pt solid DarkMagenta;
  border-radius: 10px;
  background-color: white;
  color: DarkMagenta;
  padding: 0.5rem;
  min-width: 100px;
}

button[disabled] {
  background-color: lightgrey;
  color: grey;
}

.selection {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  height: 100%;
}

#selection-choice, #selection-result {
  background-color: DarkMagenta;
  color: white;
}

#selection-wait {background-color: darkgrey}

#choice-countdown-container {
  border: 1pt solid white;
  height: 25pt;
  width: 25pt;
  border-radius: 50%;
  margin: auto;
}

#bid-info {
  margin: 3rem;
  padding: 1rem;
}

#bid-countdown-container {
  border: 1pt solid DarkMagenta;
  height: 50pt;
  width: 50pt;
  border-radius: 50%;
  margin: auto;
}