option_settings:
    aws:elasticbeanstalk:application:environment:
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        DJANGO_SETTINGS_MODULE: "fantasta.settings"
    aws:elasticbeanstalk:container:python:
        WSGIPath: "fantasta.wsgi:application"
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static

container_commands:
    1_log:
        command: "cd /var/log && touch fantasta.log && chmod g+s fantasta.log && chown webapp:webapp fantasta.log"
    2_database:
        command: "chown -R webapp:webapp /var/app"
    3_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
        leader_only: true
    4_administrator:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py create_administrator"
        leader_only: true
    5_static:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"