packages:
    dnf:
        libcurl-devel: []
        openssl-devel: []

option_settings:
    aws:elasticbeanstalk:application:environment:
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        DJANGO_SETTINGS_MODULE: "fantasta.settings"
    aws:elasticbeanstalk:container:python:
        WSGIPath: "fantasta.asgi:application"

container_commands:
#    1_log:
#        command: "cd /var/log && touch fantasta.log && chmod g+s fantasta.log && chown fantasta:fantasta fantasta.log"
    2_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
        leader_only: true
    3_administrator:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py create_administrator"
        leader_only: true
    4_static:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"