{% extends 'base.html' %}

{% load static %}

{% block head_title %}La FantAsta{% endblock %}

{% block body %}
  <div id="page-container" style="width: 100vw; height: 100vh; background-color: lightgrey">

    {% comment %} PARTICIPANT LIST TO SHOW BEFORE STARTING {% endcomment %}
    <div id="participants">
      {% for club in clubs %}
        <p class="{{club}}" style="margin: 0; display: none">
          <span class="{{club.label}}-inv">{{club.user}} ({{club}})</span>
          è pronto per l'asta...
        </p>
      {% endfor %}
    </div>

    {% comment %} START/STOP BUTTON {% endcomment %}
    {% if user.is_superuser %}
      <div class="d-flex text-center" style="background-color: AntiqueWhite; height: 50px">
        <button id="start-stop" onclick="startStop(this)" style="margin: auto">Avvia</button>
        <button id="assign" onclick="assign()" style="margin: auto" disabled=true>Assegna giocatore</button>
      </div>
    {% endif %}

    {% comment %} AUCTION DASHBOARD {% endcomment %}
    <div id="auction-dashboard" style="display: none">
      <div class="d-flex flex-column"
        style="height: {% if user.is_superuser %}calc(100vh - 50px){% else %}100vh{% endif %}"
      >

        {% comment %} Player selection {% endcomment %}
        <div style="height: 80px; padding: 10px 20px">
          {% comment %} User of current round {% endcomment %}
          <div id="selection-choice" class="banner">
            <div class="d-flex">
              <p style="margin: auto">È il tuo turno!</p>
            </div>
            <div class="d-flex" style="height: 40px; margin: auto 0">
              <select id="player-selector" class="form-select"></select>
              <span style="width: 50px"></span>
              <button id="select-player" onclick="selectPlayer()">OK</button>
            </div>
            <div id="choice-countdown-container" class="d-flex">
              <p id="choice-countdown" style="margin: auto"></p>
            </div>
          </div>
          {% comment %} Other users {% endcomment %}
          <div id="selection-wait" class="banner"></div>
          {% comment %} Selection result {% endcomment %}
          <div id="selection-result" class="banner">
            <p id="player-name" style="margin: auto"></p>
            <p id="player-role" style="margin: auto"></p>
            <p id="player-team" style="margin: auto"></p>
            <p style="margin: auto"><span id="player-price"></span> <span class="currency">M</span></p>
          </div>
        </div>

        {% comment %} Main page {% endcomment %}
        <div id="bid-info" class="flex-grow-1 d-flex justify-content-between">
          {% comment %} Round info {% endcomment %}
          <div class="d-flex justify-content-around" style="width: 75%">
            <div style="margin: auto 0">
              <div id="current-bid">
                <div id="current-bid-cover">
                  <p class="text-center" style="margin: auto">In attesa della chiamata...</p>
                </div>
                <div id="bid-player-info" class="d-flex" style="font-size: 14pt">
                </div>
                <p class="text-center" style="font-size: 48pt">
                  <span id="best-bid">-</span>
                  <span class="currency">M</span>
                </p>
                <p id="bidder" class="text-center" style="font-size: 14pt"></p>
              </div>
              <div class="d-flex">
                <div id="bid-countdown-container" style="margin-top: 3rem">
                  <p id="bid-countdown" class="text-center" style="font-size: 32pt; margin: auto">3</p>
                </div>
              </div>
            </div>
            {% comment %} Bid tools {% endcomment %}
            <div id="bid-banner" class="d-flex flex-column justify-content-evenly align-items-center" style="padding: 1rem">
              <div>
                <button id="bid-1" type="button" class="bid-button" onclick="raiseBid(1)">
                  + 1 <span class="currency">M</span>
                </button>
              </div>
              <div>
                <button id="bid-5" type="button" class="bid-button" onclick="raiseBid(5)">
                  + 5 <span class="currency">M</span>
                </button>
              </div>
              <div>
                <button id="bid-10" type="button" class="bid-button" onclick="raiseBid(10)">
                  + 10 <span class="currency">M</span>
                </button>
              </div>
              <div>
                <button id="bid-2" type="button" class="bid-button" onclick="doubleBid()">× 2</button>
              </div>
              <div>
                <input id="custom-bid" type="number" class="form-control" placeholder="inserisci rilancio"/>
                <button id="bid-x" type="button" class="bid-button"
                  style="width: 100%; margin-top: 0.5rem"
                  onclick="customBid(parseInt($('#custom-bid').val()))"
                >
                  Rilancio personalizzato
                </button>
              </div>
            </div>
          </div>
          {% comment %} Roster {% endcomment %}
          <div id="roster" style="height: calc(100vh - 140px - 2rem)">
            <div id="roster-title" class="d-flex justify-content-between {{user.club.label}}">
              <h3>{{user.club}}</h3>
              <h3 style="margin-left: 100px">
                <span id="current-money">{{request.user.club.money}}</span>
                <span class="currency">M</span>
              </h3>
            </div>
            <div style="height: calc(100% - 80px); overflow: auto">
              <table style="width: calc(100% - 3px)">
                <thead>
                  <tr>
                    <th colspan="3">Portieri</th>
                  </tr>
                </thead>
                <tbody id="P">
                  {% for i in '123'|make_list %}
                    <tr class="empty">
                      <td>‎</td>
                      <td>‎ </td>
                      <td>‎ </td>
                    </tr>
                  {% endfor %}
                </tbody>
                <thead>
                  <tr>
                    <th colspan="3">Difensori</th>
                  </tr>
                </thead>
                <tbody id="D">
                  {% for i in '12345678'|make_list %}
                    <tr class="empty">
                      <td>‎</td>
                      <td>‎ </td>
                      <td>‎ </td>
                    </tr>
                  {% endfor %}
                </tbody>
                <thead>
                  <tr>
                    <th colspan="3">Centrocampisti</th>
                  </tr>
                </thead>
                <tbody id="C">
                  {% for i in '12345678'|make_list %}
                    <tr class="empty">
                      <td>‎</td>
                      <td>‎ </td>
                      <td>‎ </td>
                    </tr>
                  {% endfor %}
                </tbody>
                <thead>
                  <tr>
                    <th colspan="3">Attaccanti</th>
                  </tr>
                </thead>
                <tbody id="A">
                  {% for i in '123456'|make_list %}
                    <tr class="empty">
                      <td>‎</td>
                      <td>‎ </td>
                      <td>‎ </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

    {% comment %} TEAMS INFO {% endcomment %}
    <div id="teams-info" style="display: none; background-color: green; width: 100px; height: 100px">
    </div>

  </div>

  <script type="text/javascript">{% include "auction/auction.js" %}</script>

{% endblock %}