{% extends 'base.html' %}

{% load static %}

{% block head_title %}La FantAsta{% endblock %}

{% block body %}
  <div id="page-container" style="width: 100vw; height: 100vh; background-color: lightgrey">

    {% comment %} PARTICIPANT LIST TO SHOW BEFORE STARTING {% endcomment %}
    <div id="participants">
      {% for club in clubs %}
        <p class="{{club.user}}" style="margin: 0; display: none">
          <span class="{{club.label}}-inv">{{club.user}}</span>
          è pronto per l'asta...
        </p>
      {% endfor %}
    </div>

    {% comment %} START/STOP BUTTON {% endcomment %}
    {% if request.user.is_superuser %}
      <div class="d-flex text-center" style="background-color: AntiqueWhite; height: 50px">
        <button id="start-stop" onclick="startStop(this)" style="margin: auto">Avvia</button>
      </div>
    {% endif %}

    {% comment %} AUCTION DASHBOARD {% endcomment %}
    <div id="auction-dashboard" class="d-flex flex-column" style="height: calc(100vh - 50px); display: none">

      {% comment %} Player selection {% endcomment %}
      <div style="height: 80px; padding: 10px 20px">
        {% comment %} User of current round {% endcomment %}
        <div id="selection-choice" class="selection">
          <div class="d-flex">
            <p style="margin: auto">È il tuo turno!</p>
          </div>
          <div class="d-flex" style="height: 40px; margin: auto 0">
            <select id="player-selector" class="form-select"></select>
            <span style="width: 50px"></span>
            <button id="select-player" onclick="selectPlayer()">OK</button>
          </div>
          <div class="d-flex">
            <p id="choice-countdown" style="margin: auto"></p>
          </div>
        </div>
        {% comment %} Other users {% endcomment %}
        <div id="selection-wait" class="selection"></div>
        {% comment %} Selection result {% endcomment %}
        <div id="selection-result" class="selection">
          <p style="margin: auto">
            <span id="player-name"></span>
            (<span id="player-role"></span>)
          </p>
          <p id="player-team" style="margin: auto">Inter</p>
          <p style="margin: auto"><span id="player-price"></span> <span class="currency">M</span></p>
        </div>
      </div>

      {% comment %} Round info {% endcomment %}
        <div id="bid-info" class="flex-grow-1 d-flex justify-content-around">
          <div id="current-bid" style="padding: 1rem 3rem; border-radius: 15px">
            <p class="text-center" style="font-size: 48pt">
              <span id="bid-amount"></span>
              <span class="currency">M</span>
            </p>
            <p id="bidder" class="text-center" style="font-size: 14pt"></p>
          </div>
          <div class="d-flex">
            <div id="bid-countdown-container">
              <p id="bid-countdown" class="text-center" style="font-size: 32pt; margin: auto">3</p>
            </div>
          </div>
        </div>

      {% comment %} Bid tools {% endcomment %}
      <div id="auction-chat" style="background-color: fuchsia">
        <button id="raise-1" type="button" class="bid-button" onclick="raiseBid(1)">+1</button>
        <button id="raise-5" type="button" class="bid-button" onclick="raiseBid(5)">+5</button>
        <button id="raise-10" type="button" class="bid-button" onclick="raiseBid(10)">+10</button>
        <input id="raise-custom" type="number" placeholder="inserisci rilancio"/>
        <button id="bid" type="button" class="bid-button" onclick="raiseBid(parseInt($('#raise-custom').val()))">
          Rilancia
        </button>
      </div>

    </div>

    {% comment %} TEAMS INFO {% endcomment %}
    <div id="teams-info" style="display: none; background-color: green; width: 100px; height: 100px">
    </div>

  </div>

  <script type="text/javascript">{% include "auction/auction.js" %}</script>

{% endblock %}