{% extends "base.html" %}

{% block head_title %}Pronto?{% endblock %}

{% block body %}
  <div class="d-flex flex-column" style="height: 100vh">
    <div style="margin: 3rem 3rem 0">
      <p>
        Appena sei pronto a partire premi il bottone qui sotto, ed entrerai nella sala d'aspetto.
        Quando tutti i partecipanti saranno in sala d'aspetto, l'asta comincerà automaticamente.
      </p>
      <p>Prima di partire, un'occhiata veloce alle regole:</p>
    </div>
    <div id="rules" class="flex-grow-1">
      <ul>
        <li>Il turno dei partecipanti è automatico e a rotazione, per ordine alfabetico di società.</li>
        <li>
          Devi chiamare all'asta un giocatore per ruolo, in ordine:
          <ol>
            <li>portieri;</li>
            <li>difensori;</li>
            <li>centrocampisti;</li>
            <li>attaccanti.</li>
          </ol>
          I ruoli per cui la tua rosa è già al completo vengono saltati automaticamente.
        </li>
        <li>Hai 30 secondi per scegliere un giocatore da chiamare, dopodiché il turno passa automaticamete al prossimo partecipante.</li>
        <li>Hai 3 secondi per rilanciare con un'offerta; dopo 10 secondi senza un rialzo il giocatore viene assegnato.</li>
        <li>Il prezzo base per ogni chiamata è sempre di 1&nbsp;<span class="currency">M</span>.</li>
        <li>
          Alla fine dell'asta la tua rosa dev'esser composta da 3 portieri, 8 difensori, 8 centrocampisti e 6 attaccanti;
          man mano che riempi i tuoi ruoli sarai automaticamente estromesso dalle chiamate corrispondenti.
        </li>
        <li>Non son permessi svincoli durante l'asta!</li>
      </ul>
    </div>
    <div class="d-flex flex-column" style="width: 200px; margin: 0 auto 3rem">
      <a href="{% url 'auction' %}"><button class="button-form">Sono pronto!</button></a>
    </div>
  </div>
{% endblock %}